.participantes-mobiliario {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    /* background-color: red; */
    background-color: #EAE9FB;
}

.atras, .atras:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 70%;
    margin: 0 24px 64px 24px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--FeriaPpal);
    align-self: center;
}

.participantes-mobiliario .uk-panel {
    border: none;
    padding: 0;
    width: 15em;
    margin: 3em 0;
    box-sizing: border-box;
}

.participantes-mobiliario div button, .participantes-mobiliario div button:hover {
    /* overflow: visible; */
    /* display: inline; */
    position: relative;
    /* z-index: 1; */
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    margin: 0.75em;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: white;
}

.participantes-mobiliario div button .uk-cover-container {
    position: absolute;
    top: 0;
    border-radius: 50%;
    /* border: 0.0625em solid var(--AzulOscuro); */
    width: 100%;
    height: 100%;
    
}

.participantes-mobiliario div .uk-dropdown {
    box-sizing: border-box;
    position: static;
    float: left;
    padding: 3em 1.5em;
    margin: 0.75em calc(7.5em - 50vw);
    width: 100vw !important;
    height: auto;
    background-color: var(--FeriaPpal);
}

.participantes-mobiliario div .uk-dropdown div h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
}

.participantes-mobiliario div .uk-dropdown ul li p, .participantes-mobiliario div .uk-dropdown ul li a, .participantes-mobiliario div .uk-dropdown ul li a:hover {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    color: white;
}

.participantes-mobiliario div .uk-dropdown div .white-line {
    width: 5em;
    height: 0.125em;
    background-color: white;
    margin-top: 1em;
    margin-left: -1.5em;
}

.participantes-mobiliario div .uk-dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 2em;
    width: 100%;
}

.participantes-mobiliario div .uk-dropdown ul li {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0;
    width: 100%;
}

.participantes-mobiliario div .uk-dropdown ul li img {
    width: 1em;
}

.participantes-mobiliario div div ul li a {
    color: white;
}

[aria-expanded="false"] .triangle{
    /* display: none; */
    opacity: 0;
}

button[aria-expanded="true"] .triangle {
    display: block;
    position: absolute;
    opacity: 1;
    left: calc(50% - 0.375em);
    bottom: -1.5em;
    width: 0;
    height: 0;
    transition: opacity 150ms ease-in;
    border-left: 0.375em solid transparent;
    border-right: 0.375em solid transparent;
    border-bottom: 0.75em solid var(--FeriaPpal);
}


@media screen and (min-width: 640px) {
    .participantes-mobiliario {
        font-size: 32px;
    }

    .participantes-mobiliario div .uk-dropdown {
        padding: 1.5em;
    }

    .participantes-mobiliario div .uk-dropdown ul {
        margin-top: 6em;
        gap: 4em;
    }

    .participantes-mobiliario div .uk-dropdown div .white-line {
        margin-top: 0.5em;
    }

    .participantes-mobiliario div .uk-dropdown div h4 {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
    }
    
    .participantes-mobiliario div .uk-dropdown ul li p, .participantes-mobiliario div .uk-dropdown ul li a, .participantes-mobiliario div .uk-dropdown ul li a:hover {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.8rem;
        color: white;
    }

    .atras, .atras:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 500px;
        font-size: 1.8rem;
        margin: 0 24px 64px 24px;
        color: white;
    }
}

@media screen and (min-width: 1280px) {
    .participantes-mobiliario {
        font-size: 40px;
    }

    .participantes-mobiliario div .uk-dropdown {
        /* display: flex; */
        align-items: center;
        gap: 140px;
    }

    .uk-dropdown.uk-open {
        display: flex;
    }
    .participantes-mobiliario div .uk-dropdown ul {
        margin: 0;
    }
    .participantes-mobiliario div .uk-dropdown div h4 {
        width: max-content;
    }

    .participantes-mobiliario .uk-panel {
        width: 25em;
    }

    .participantes-mobiliario div .uk-dropdown {
        margin: 0.75em calc(12.5em - 50vw);
    }
}