.blur {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.75);
    /* backdrop-filter: blur(4px);
    filter: blur(10px); */
}

.menu-active .blur {
    display: block;
    opacity: 1;
}

.circle {
    width: 13vw;
    height: 13vw;
    max-width: 72px;
    max-height: 72px;
    position: absolute;
    border-radius: 50%;
    transform-origin:center center;
    transform:translate(0, 0) scale(1);
    transition: transform 300ms;
    bottom: var(--PaddingVertical);
    right: var(--PaddingHorizontal);
    background-color: #B0BFFF;
}

#menuCircle1 {
    z-index: 8;
    
}
#menuCircle2 {
    z-index: 7;
    opacity: 0.5;
}
#menuCircle3 {
    z-index: 6;
    opacity: 0.3;
}

.menu-active #menuCircle1 {
    transform:translate(0, 0) scale(4);
}

.menu-active #menuCircle2 {
    transform:translate(0, 0) scale(6);
}
.menu-active #menuCircle3 {
    transform:translate(0, 0) scale(8);
}

.menu-item {
    width: 13vw;
    height: 13vw;
    max-width: 72px;
    max-height: 72px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: absolute;
    z-index: 9;
    bottom: var(--PaddingVertical);
    right: var(--PaddingHorizontal);
    transition: transform 300ms;
}

.menu-item:hover {
    background: white;
}

#menu.menu-item svg {
    height: 60%;
    width: 60%;
    transition: transform 300ms;
}

.menu-item img, .menu-item svg {
    height: 50%;
    width: 50%;
    transition: transform 300ms;
}

#menu {
    display: flex;
    box-sizing: content-box;
    border: 3px solid var(--FeriaPpal);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
    background-color: var(--FeriaPpal);
    transform: translate(3px, 3px);
    background-image: url("../../img/icon-support.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 55%;
}

.menu-active #menu {
    border: 3px solid white;
    background-color: white;
    background-image: url("../../img/icon-close.svg");
}

/* .menu-active #menu svg path, .menu-active #menu svg rect {
    stroke: var(--FeriaPpal);
} */

.menu-active .menu-item:nth-child(2) {
    transform: translateY(-39vw);
}

.menu-active .menu-item:nth-child(3) {
    transform: translate(-27.6vw,-27.6vw)
}

.menu-active .menu-item:nth-child(4) {
    transform: translateX(-39vw);
}

@media screen and (min-width: 640px) {
    .circle, .menu-item {
        width: 72px;
        height: 72px;
    }

    .menu-active .menu-item:nth-child(2) {
        transform: translateY(-216px);
    }
    
    .menu-active .menu-item:nth-child(3) {
        transform: translate(-152.7px,-152.7px)
    }
    
    .menu-active .menu-item:nth-child(4) {
        transform: translateX(-216px);
    }
}

@media screen and (min-width: 1280px) {
    .circle, .menu-item {
        right: 72px;
        bottom: 56px;
    }
}