:root {
    --mdc-theme-primary: #3A37E0;
    --mdc-theme-secondary: #3A37E0;
}

.contacto {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.7rem;
    min-height: 568px;
    padding: var(--PaddingVertical) var(--PaddingHorizontal);
    background-color: var(--FeriaPpal);
}

    .contacto .content-1 h3 {
        margin-bottom: 1.6rem;
    }

    .contacto .content-1 .blue-line {
        height: 2px;
        width: 10.2rem;
        margin-left: calc( 0rem - var(--PaddingHorizontal) );
        background-color: white;
    }

    /* 

    .contacto div a {
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
    }

    .contacto .h5 {
        margin-bottom: 0.8rem;
    } */

    .contacto svg {
        height: 3.6rem;
        width: auto;
    }

    .info-contacto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 3.2rem;
        width: 100%;
    }

        .info-contacto .datos {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
        }

            .datos .dato {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }

    .contacto .follow {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 1.2rem;
    }

    .contacto .follow a {
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
    }

    .contacto .follow .redes-sociales {
        display: flex;
        justify-content: flex-start;
        gap: 1.6rem;
    }

    .contacto .h5 {
        margin-bottom: 0.8rem;
    }

    .contacto .accordion-contact {
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .contacto a.btn-accordion {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        color: var(--FeriaPpal);
        /* background-color: white; */
        width: 100%;
        height: 50px;
    }

    .contacto .accordion-contact .form {
        display: none;
    }

    .contacto .accordion-contact .form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 0 24px 24px 24px;
        justify-content: flex-start;
        /* background-color: red; */
    }

    .contacto .accordion-contact .form form div div div label, .mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
        font-size: 12px;
        color: var(--AzulClaro);
    }


    .mdc-text-field--outlined {
        height: 34px;
        /* overflow: visible; */
        width: 100%;
    }

    .mdc-text-field__input {
        color: red;
        font-size: 14px;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: var(--AzulOscuro);
    }

    /* Label TextField */
    .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-select--outlined .mdc-select__anchor .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
        transform: translateY(-24px) scale(0.75);
        color: var(--FeriaPpal) !important;
    }

    /* Border TextField Active */
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing {
        border-color: var(--FeriaPpal);
    }


    /* Border TextField Disable */
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: var(--FeriaPpal);
    }

    .mdc-select--outlined {
        width: 100%;
    }
    .mdc-select--outlined:not(.mdc-select--disabled) .mdc-select__anchor {
        height: 34px;
    }



    .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
        border-color: var(--FeriaPpal);
    }

    .mdc-select:not(.mdc-select--disabled) .mdc-select__dropdown-icon {
        fill: var(--AzulClaro);
    }

    .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-select__dropdown-icon {
        fill: var(--FeriaPpal);
    }

    .mdc-select__menu ul li span {
        color: var(--AzulOscuro);
    }

    .checkbox-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .checkbox-container label {
        cursor: pointer;
        font-size: 14px;
        color: var(--AzulOscuro);
    }

    .checkbox-container label a {
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        color: var(--FeriaPpal);
    }

    .mdc-checkbox .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background .mdc-checkbox__checkmark {
        width: auto;
        height: auto;
    }

    .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate="true"]:enabled ~ .mdc-checkbox__background {
        border-color: var(--FeriaPpal);
    }

    .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"]) ~ .mdc-checkbox__background {
        border-color: var(--FeriaPpal) !important;
        border-width: 1px;
    }

.enviar {
    display: flex;
    align-self: flex-start;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--FeriaPpal);
    width: auto;
    padding: 16px 42px;
    border-radius: 0;
    border-color: var(--FeriaPpal);
    border-width: 1px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    background: none;
    background-image: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    appearance: none;
    box-shadow: none;
}

@media screen and (min-width: 640px) and (max-width: 1399px) {

    .contacto {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15.6rem;
        min-height: 568px;
        padding: var(--PaddingVertical) var(--PaddingHorizontal);
        background-color: var(--FeriaPpal);
    }
    
        .contacto .content-1 h3 {
            margin-bottom: 1.6rem;
        }
    
        .contacto .content-1 .blue-line {
            height: 2px;
            width: 20rem;
            margin-left: calc( 0rem - var(--PaddingHorizontal) );
            background-color: white;
        }

        .contacto svg {
            height: 4.8rem;
            width: auto;
        }

        .info-contacto {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 10rem;
            width: 100%;
        }
    
            .info-contacto .datos {
                display: flex;
                flex-direction: column;
                gap: 4.8rem;
            }
    
                .datos .dato {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                }

        .contacto .follow {
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: 1.2rem;
        }

        .contacto .follow a {
            text-decoration: none;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 300;
        }

        .contacto .follow .redes-sociales {
            display: flex;
            justify-content: center;
            gap: 2.2rem;
        }
    
        .contacto .h5 {
            margin-bottom: 0.8rem;
        }
    
        .contacto .accordion-contact {
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
    
        .contacto a.btn-accordion {
            display: flex;
            align-self: center;
            align-items: center;
            justify-content: center;
            color: var(--FeriaPpal);
            width: 100%;
            height: 8.0rem;
        }
    
        .contacto .accordion-contact .form {
            display: none;
        }
    
        .contacto .accordion-contact .form form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            padding: 0 24px 24px 24px;
            justify-content: flex-start;
            /* background-color: red; */
        }
    
        .contacto .accordion-contact .form form div div div label, .mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
            font-size: 12px;
            color: var(--AzulClaro);
        }
    
        
    
    
        .mdc-text-field--outlined {
            height: 34px;
            /* overflow: visible; */
            width: 100%;
        }
    
        .mdc-text-field__input {
            color: red;
            font-size: 14px;
        }
    
        .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
            color: var(--AzulOscuro);
        }
    
        /* Label TextField */
        .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above, .mdc-select--outlined .mdc-select__anchor .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
            transform: translateY(-24px) scale(0.75);
            color: var(--FeriaPpal) !important;
        }
    
        /* Border TextField Active */
        .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled).mdc-select--focused .mdc-notched-outline .mdc-notched-outline__trailing {
            border-color: var(--FeriaPpal);
        }
    
    
        /* Border TextField Disable */
        .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
            border-color: var(--FeriaPpal);
        }
    
        .mdc-select--outlined {
            width: 100%;
        }
        .mdc-select--outlined:not(.mdc-select--disabled) .mdc-select__anchor {
            height: 34px;
        }
    
    
    
        .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
            border-color: var(--FeriaPpal);
        }
    
        .mdc-select:not(.mdc-select--disabled) .mdc-select__dropdown-icon {
            fill: var(--AzulClaro);
        }
    
        .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-select__dropdown-icon {
            fill: var(--FeriaPpal);
        }
    
        .mdc-select__menu ul li span {
            color: var(--AzulOscuro);
        }
    
        .checkbox-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
    
        .checkbox-container label {
            cursor: pointer;
            font-size: 14px;
            color: var(--AzulOscuro);
        }
    
        .checkbox-container label a {
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            color: var(--FeriaPpal);
        }
    
        .mdc-checkbox .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background .mdc-checkbox__checkmark {
            width: auto;
            height: auto;
        }
    
        .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate="true"]:enabled ~ .mdc-checkbox__background {
            border-color: var(--FeriaPpal);
        }
    
        .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"]) ~ .mdc-checkbox__background {
            border-color: var(--FeriaPpal) !important;
            border-width: 1px;
        }
    
    .enviar {
        display: flex;
        align-self: flex-start;
        outline: none;
        box-sizing: border-box;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: var(--FeriaPpal);
        width: auto;
        padding: 16px 42px;
        border-radius: 0;
        border-color: var(--FeriaPpal);
        border-width: 1px;
        text-decoration: none;
        cursor: pointer;
        background-color: white;
        background: none;
        background-image: none;
        background-color: transparent;
        -webkit-appearance: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        appearance: none;
        box-shadow: none;
    }

}