@import url("../../../global.css");

.navigator {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: var(--PaddingHorizontal);
    z-index: 30;
    opacity: 0;
    transition: opacity 0.6s;
    background-color: var(--FeriaPpal);
}

.navigator div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: max-content;
}

.navigator .line-menu {
    display: none;
    height: 100%;
    width: 4px;
    background-color: white;
}

.navigator img {
    position: absolute;
    left: var(--PaddingHorizontal);
    bottom: var(--PaddingHorizontal);
    width: 15vw;
}

.navigator div a {
    width: 20.0rem;
}

#bm-container {
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 31;
    top: var(--PaddingHorizontal);
    right: var(--PaddingHorizontal);
    width: 2.5rem;
    height: 2.5rem;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.bm-line1, .bm-line2 {
    transform-box: fill-box;
    transform-origin: center;
}

@keyframes playLine1 {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(7.82px) rotate(0deg);
    }
    100%{
        transform: translateY(7.82px) rotate(45deg);
    }
}

@keyframes backLine1 {
    0% {
        transform: translateY(7.82px) rotate(45deg);
    }
    50% {
        transform: translateY(7.82px) rotate(0deg);
    }
    100%{
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes playLine2 {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-7.82px) rotate(0deg);
    }
    100%{
        transform: translateY(-7.82px) rotate(-45deg);
    }
}

@keyframes backLine2 {
    0% {
        transform: translateY(-7.82px) rotate(-45deg);
    }
    50% {
        transform: translateY(-7.82px) rotate(0deg);
    }
    100%{
        transform: translateY(0px) rotate(0deg);
    }
}

@media screen and (min-width: 640px) and (max-width: 1279px) {

    .navigator {
        gap: 1.6rem;
    }
    
    .navigator div {
        gap: 1.6rem;
    }
    
    .navigator img {
        width: 12.0rem;
    }
    
    .navigator div a {
        width: 36.0rem;
    }

    #bm-container {
        width: 7vw;
        height: 7vw;
        max-width: 5.0rem;
        max-height: 5.0rem;
    }
}

@media screen and (min-width: 1280px) {

    .navigator {
        padding: 56px 72px;
    }
    
    .navigator div {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: max-content;
    }
    
    .navigator .line-menu {
        display: none;
        height: 100%;
        width: 4px;
        background-color: white;
    }
    
    .navigator img {
        position: absolute;
        left: 72px;
        bottom: 56px;
        width: 15vw;
    }
    
    .navigator div a {
        width: 20.0rem;
    }
    
    #bm-container {
        position: fixed;
        align-items: center;
        justify-content: center;
        z-index: 31;
        top: 56px;
        right: 72px;
        width: 4.0rem;
        height: 4.0rem;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    .navigator {
        flex-direction: row;
        gap: 4.8rem;
    }

    .navigator div:nth-child(1) {
        text-align: right;
    }

    .navigator div:nth-child(3) {
        text-align: left;
    }

    .navigator div {
        gap: 4.8rem;
    }

        .navigator div a {
            width: 36.0rem;
        }

    .navigator .line-menu {
        display: flex;
        height: 100%;
        width: 4px;
        background-color: white;
    }

    .navigator img {
        width: 15.8rem;
    }

    .bm-line1, .bm-line2 {
        transform-box: fill-box;
        transform-origin: center;
    }
}