@media screen and (min-width: 1280px) {
    :root {
        --PaddingVertical: 12.8rem;
        --PaddingHorizontal: calc((100vw - 1100px)/2);
    }

    /* Tipografias INICIO */

    h1, .h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 6.0rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    h4, .h4 {
        font-size: 1.8rem;
    }

    h5, .h5, .h5:hover {
        font-size: 1.6rem;
    }

    p, li {
        font-size: 1.6rem;
    }

    .p2, .p2:hover {
        font-size: 1.6rem;
    }

    .p3, .p3:hover {
        font-size: 1.6rem;
    }

    .btn-text, .btn-text:hover {
        font-size: 1.8rem;
    }

    a {
        font-size: 3.0rem;
    }
    
    a:hover {
        font-size: 3.0rem;
    }

    /* Tipografias FIN */

}

@media screen and (min-width: 1400px) {
    :root {
        --PaddingVertical: 12.8rem;
        --PaddingHorizontal: calc((100vw - 1200px)/2);
    }
}