.participantes-mobiliario {
    /* background-color: red; */
}

.atras {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    margin: 0 24px 64px 24px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--FeriaPpal);
    align-self: center;
}

.participantes-mobiliario .uk-panel {
    /* background-color: red; */
    border: none;
    padding: 64px 40px;
    width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
}

.participantes-mobiliario div button {
    /* overflow: visible; */
    /* display: inline; */
    position: relative;
    /* z-index: 1; */
    height: 56px;
    width: 56px;
    border-radius: 50%;
    margin: 12px;
    padding: 0;
    border: none;
    /* background-color: none;
    background-image: url("../img/Bisou_mobiliario.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* transition: transform ease-in; */
}

.participantes-mobiliario div button .uk-cover-container {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.participantes-mobiliario div .uk-dropdown {
    box-sizing: border-box;
    position: static;
    float: left;
    padding: 48px 24px;
    margin: 12px calc(120px - 50vw);
    width: 100vw !important;
    height: auto;
    background-color: var(--FeriaPpal);
}

.participantes-mobiliario div .uk-dropdown div .white-line {
    width: 80px;
    height: 2px;
    background-color: white;
    margin-top: 16px;
    margin-left: -24px;
}

.participantes-mobiliario div .uk-dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 32px;
    width: 100%;
}

.participantes-mobiliario div .uk-dropdown ul li {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    width: 100%;
}

.participantes-mobiliario div .uk-dropdown ul li img {
    width: 16px;
}

.participantes-mobiliario div div ul li a {
    color: white;
}

[aria-expanded="false"] .triangle{
    /* display: none; */
    opacity: 0;
}

button[aria-expanded="true"] .triangle {
    display: block;
    position: absolute;
    opacity: 1;
    left: calc(50% - 6px);
    bottom: -24px;
    width: 0;
    height: 0;
    transition: opacity 150ms ease-in;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid var(--FeriaPpal);
}