section.hero {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 0;
    height: 100%;
    background-color: var(--AzulOscuro);
}
.scrollTrigger {
    width: 100%;
    height: 100vh;
    background-color: transparent;
}
.scrollColor {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 1s ease-out;
    z-index: -1;
}
.scrollBlue {
    opacity: 1;
    background-color: #0A0926;
    z-index: 1;
}

    header {
        position: absolute;
        z-index: 40;

        display: flex;
        justify-content: space-between;

        width: 100%;
        padding:  var(--PaddingHorizontal) var(--PaddingHorizontal) 0 var(--PaddingHorizontal);
        mix-blend-mode: normal;
    }

    .identificador {
        width: 3.2rem;
    }

    .slider-container {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

        .slider-container .hero-controls {

            position: absolute;
            z-index: 0;
            bottom: 0;
            right: 0;

            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;

            padding-left: var(--PaddingHorizontal);
            padding-right: var(--PaddingHorizontal);
            padding-bottom: var(--PaddingHorizontal);
        }

            .slider-container .hero-controls .indicator-slider {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                gap: 5.0rem;
                height: 100%;
            }

                .slider-container .hero-controls .indicator-slider .indicator {
                    display: flex;
                    height: 0.2rem;
                    gap: 0.8rem;
                }

                .line {
                    height: 0.2rem;
                    width: 3.0rem;
                    background-color: white;
                }

                .line div {
                    width: 0%;
                    height: 0.2rem;
                    transition: width 0.3s ease-in;
                    background-color: var(--FeriaPpal);
                }

                img.logotipo-feria {
                    height: 3.2rem;
                }
            
            .control-slider {
                display: flex;
                justify-content: space-between;
                gap: 1.6rem;
            }

                .arrow-left, .arrow-right {
                    height: 3.2rem;
                    width: 3.2rem;
                    cursor: pointer;
                }

        .slider-container ul {
            height: 100%;
            min-height: 100% !important;
        }

        .slider-container ul li {
            position: absolute;
            z-index: 30;
        }

        .slider-container ul li div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding-left: var(--PaddingHorizontal);
        }

        
@media screen and (min-width: 640px) and (max-width: 1279px) {
    
    .identificador {
        width: 7.129rem;
    }

        .slider-container .hero-controls {
            width: 100%;
        }

                .slider-container .hero-controls .indicator-slider .indicator {
                    height: 0.3rem;
                    gap: 1.2rem;
                }

                .line {
                    height: 0.3rem;
                    width: 4.2rem;
                }

                .line div {
                    height: 0.3rem;
                }

                img.logotipo-feria {
                    height: 3.0rem;
                }
            
            .control-slider {
                gap: 3.0rem;
            }

                .arrow-left, .arrow-right {
                    height: 6.0rem;
                    width: 6.0rem;
                }

}

@media screen and (min-width: 1280px) {

    header {

        width: 100%;
        padding:  56px 72px;
    }

    .identificador {
        width: 7.129rem;
    }

        .slider-container .hero-controls {
            width: 100%;
        }

        .slider-container .hero-controls {

            position: absolute;
            z-index: 10;
            bottom: 0;
            right: 0;

            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;

            padding-left: 72px;
            padding-right: 72px;
            padding-bottom: 56px;
        }

            .slider-container .hero-controls .indicator-slider {
                gap: 2.5rem;
            }

                .slider-container .hero-controls .indicator-slider .indicator {
                    height: 0.4rem;
                    gap: 1.2rem;
                    /* padding-left: calc(25vw - var(--PaddingHorizontal)); */
                }

                .line {
                    height: 0.4rem;
                    width: 6.0rem;
                }

                .line div {
                    height: 0.4rem;
                }

                img.logotipo-feria {
                    height: 5.0rem;
                }
            
            .control-slider {
                gap: 3.0rem;
            }

                .arrow-left, .arrow-right {
                    height: 5.0rem;
                    width: 5.0rem;
                }
        
        .slider-container ul li div {
            padding-left: 25vw;
        }
}