section.nosotros {
    position: relative;
}
    .container-1 {
        position: relative;
        background-color: var(--AzulOscuro);
        height: 100vh;
        padding: var(--PaddingVertical) var(--PaddingHorizontal);
    }
        .container-1 .content-1 {
            position: absolute;
            z-index: 1;
        }
            .container-1 .content-1 h3 {
                margin-bottom: 1.6rem;
            }
            .container-1 .content-1 .blue-line {
                height: 2px;
                width: 8.0rem;
                background-color: var(--FeriaPpal);
                margin-left: calc( 0rem - var(--PaddingHorizontal) );
            }

        .container-1 .blue-comment {
            position: absolute;
            left: 24px;
            bottom: 64px;
            padding: 8px 16px;
            height: 106px;
            width: 242px;
            background-color: var(--FeriaPpal);

            display: flex;
            align-items: center;
            justify-content: center;
        }

            .container-1 .content-2 p {
                text-align: left;
            }

        .container-1 .foto-nosotros {
            position: absolute;
            top: 4.8rem;
            bottom: 4.8rem;
            left: 8.0rem;
            right: 0;
            z-index: 0;
        }

    

    .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: var(--PaddingVertical) var(--PaddingHorizontal);
        background-color: white;
    }

        .container-2 .blue-line {
            display: none;
            width: 2px; height: 40vh; background-color: var(--FeriaPpal);
        }

        .container-2 div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
        }

        .container-2 div p {
            font-weight: 300;
            width: 100%;
            text-align: left;
            line-height: 130%;
            color: var(--AzulOscuro);
        }

        .container-2 a, .container-2 a:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 100%;
            margin-top: var(--PaddingVertical);
            color: white;
            background-color: var(--FeriaPpal);
        }

@media screen and (min-width: 640px){

    .container-1 .content-1 .blue-line {
        height: 0.3rem;
        width: 20.0rem;
    }

    .container-1 .blue-comment {
        left: 58px;
        bottom: 113px;
        padding: 24px 32px;
        height: 129px;
        width: 308px;
    }

    .container-1 .foto-nosotros {
        top: 5.6rem;
        bottom: 5.6rem;
        left: 20.5rem;
    }


    .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: var(--PaddingVertical) var(--PaddingHorizontal);
    }

        .container-2 div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 120px 0;
            width: 100%;
            gap: 114px;
        }

        .container-2 div p {
            font-weight: 300;
            width: 380px;
            text-align: left;
            line-height: 130%;
            color: var(--AzulOscuro);
        }

        .container-2 div p:nth-child(1) {
            text-align: right;
            align-self: flex-end;
        }

        .container-2 div p:nth-child(2) {
            text-align: left;
            align-self: flex-start;
        }

        .container-2 a, .container-2 a:hover {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 100%;
            margin-top: 0;
            color: white;
            background-color: var(--FeriaPpal);
        }
}

@media screen and (min-width: 1280px) {

    .container-1 {
        padding-right: 72px;
    }
    
    .nosotros .container-1 .content-1 {
        position: absolute;
        left: 0;
        top: var(--PaddingVertical);
    }
    
    .nosotros .container-1 .content-1 h3 {
        margin: 0 0 16px 0;
        padding-left: var(--PaddingHorizontal);
    }

    .container-1 .content-1 .blue-line {
        height: 2px;
        width: 100%;
        margin: 0;
    }
    
    .container-1 .blue-comment {
        left: inherit;
        right: 96px;
        bottom: 164px;
        padding: 24px 64px;
        height: 130px;
        width: 443px;
    }

    .container-1 .blue-comment h1 {
        text-align: right;
    }

        .container-1 .content-2 p {
            text-align: right;
        }

    .container-1 .foto-nosotros {
        top: 0;
        bottom: 0;
        left: 0;
        right: inherit;
        width: 66%;
        z-index: 0;
    }

    .container-1 .foto-nosotros img {
        height: 100% !important;
        width: auto !important;
    }


    .container-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        /* gap: 128px; */
        /* min-height: 100vh; */
        height: auto;
        padding: 250px 0;
    }

        .container-2 .blue-line {
            display: block;
            width: 2px; height: 40vh; background-color: var(--FeriaPpal);
        }

        .container-2 div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 88px;
            width: 604px;
        }

        .container-2 div p {
            font-weight: 300;
            width: 100%;
            text-align: left;
            line-height: 130%;
            color: var(--AzulOscuro);
        }

        .container-2 div p:nth-child(1) {
            text-align: left;
        }

        .container-2 a, .container-2 a:hover {
            display: flex;
            align-items: center;
            /* align-self: flex-end; */
            justify-content: center;
            height: 50px;
            width: 360px;
            margin-top: var(--PaddingVertical);
            color: white;
            background-color: var(--FeriaPpal);
        }
}