section.nosotros {
    position: relative;
}

    .container-1 {

        position: relative;

        background-color: var(--AzulOscuro);
        height: 100vh;
        padding: 48px 24px 50px 24px;

    }
        .container-1 .content-1 {
            position: absolute;
            z-index: 1;
        }
            .container-1 .content-1 h2 {
                font-size: 18px;
                margin: 16px 0 5px 0;
                letter-spacing: 0.05em;
            }
            .container-1 .content-1 .blue-line {
                height: 2px;
                width: 102px;
                background-color: var(--FeriaPpal);
                margin-left: -24PX;
            }

        .container-1 .content-2 {

            position: absolute;
            left: 24px;
            bottom: 128px;
            padding: 8px 16px;
            height: 106px;
            width: 242px;
            background-color: var(--FeriaPpal);

            display: flex;
            align-items: center;
            justify-content: center;

        }

            .container-1 .content-2 p {
                margin: 0;
                text-align: left;
                width: auto;
                font-size: 16px;
                font-weight: 300;
                line-height: 110%;
            }

        .container-1 .foto-nosotros {
            position: absolute;
            top: 48px;
            right: 0;
            width: 75%;
            height: 75%;
            z-index: 0;
        }

    .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        padding: 102px 24px 96px 24px;
    }

        .container-2 p {
            width: 83%;
            text-align: center;
            color: var(--AzulOscuro);
        }

        .container-2 a {
            height: 50px;
            width: 128px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            background-color: var(--FeriaPpal);
        }