.container-3 {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 48px 24px 50px 24px;
}

    .container-3 .content-1 {
        position: absolute;
        z-index: 1;
    }

        .container-3 .content-1 h2 {
            margin: 16px 0;
        }

        .container-3 .content-1 .blue-line {
            height: 2px;
            width: 102px;
            margin-left: -24PX;
            background-color: var(--FeriaPpal);
        }

.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--AzulOscuro);
    padding: 86px 24px;
    min-height: 100vh;
}
    .container-4 p {
        margin-bottom: 32px;
        font-weight: 300;
    }

    .container-4 .scroll-x {
        margin: 0px -24px;
        padding: 24px 0;
        width: 100vw;
        
        overflow-x: scroll;
        overflow-y: hidden;
        /* background-color: red; */
    }

        .scroll-x .cards {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 24px;
            padding: 0 24px;
            height: max-content;
            width: max-content;
        }

            .cards .card {
                height: max-content;
                width: 75vw;
                /* background-color: blue; */
            }

                .card .img-container {
                    height: 75vw;
                }

                .card .bodycard {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 16px;
                    height: 194px;
                    background-color: var(--FeriaPpal);
                }

                    .bodycard .card-title {
                        font-family: 'Roboto', sans-serif;;
                        font-size: 16px;
                        font-weight: 500;
                        color: white;
                    }

                    .bodycard .white-line {
                        width: 50px;
                        height: 2px;
                        background-color: white;
                        margin: 8px 0 16px 0;
                    }

                    .bodycard p {
                        font-family: 'Roboto', sans-serif;;
                        font-size: 14px;
                        font-weight: 300;
                        color: white;
                    }

                    .bodycard a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        background-color: white;
                        color: var(--FeriaPpal);
                        font-size: 16px;
                        font-weight: 500;
                        width: 100%;
                        padding: 8px 0;
                    }

        