.container-3 {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: var(--PaddingVertical) var(--PaddingHorizontal);
}

    .container-3 .content-1 {
        position: absolute;
        z-index: 1;
    }

        .container-3 .content-1 h3 {
            margin-bottom: 1.6rem;
        }

        .container-3 .content-1 .blue-line {
            height: 2px;
            width: 80px;
            margin-left: calc( 0rem - var(--PaddingHorizontal));
            background-color: var(--FeriaPpal);
        }

.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--AzulOscuro);
    padding: var(--PaddingVertical) var(--PaddingHorizontal);
    min-height: 100vh;
}
    .container-4 p:nth-child(1) {
        margin-bottom: var(--PaddingVertical);
        font-weight: 300;
    }

    .container-4 .scroll-x {
        margin: 0px calc( 0rem - var(--PaddingHorizontal));
        padding: var(--PaddingHorizontal) 0;
        width: 100vw;
        
        overflow-x: scroll;
        overflow-y: hidden;
    }

        .scroll-x .cards {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 2.4rem;
            padding: 0 var(--PaddingHorizontal);
            height: max-content;
            width: max-content;
        }

            .cards .card {
                height: max-content;
                width: 24rem;
            }

                .card .img-container {
                    height: 24rem;
                }

                .card .bodycard {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 1.6rem;
                    height: 19.8rem;
                    background-color: var(--FeriaPpal);
                }

                    .bodycard div .white-line {
                        width: 5rem;
                        height: 0.2rem;
                        background-color: white;
                        margin: 0.8rem 0 1.6rem 0;
                    }

                    .bodycard a, .bodycard a:hover {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        color: var(--FeriaPpal);
                        width: 100%;
                        padding: 0.8rem 0;
                    }

        .scroll-x-desktop {
            display: none;
        }

@media screen and (min-width: 640px) {
    
    .container-3 .content-1 h3 {
        margin-bottom: 1.6rem;
    }

    .container-3 .content-1 .blue-line {
        height: 3px;
        width: 200px;
    }

    .container-4 {
        padding-right: 0;
    }

    .container-4 .scroll-x {
        display: none;
    }

    .container-4 .scroll-x-desktop {
        display: block;
        margin: 0;
        margin-left: calc( 0rem - var(--PaddingHorizontal));
        padding: 0 var(--PaddingHorizontal);
    }

    .scroll-x .cards {
        gap: 4.1rem;
    }

        .hero .cards .card, .hero .card {
            width: 50rem;
        }

            .card .img-container {
                height: 35rem;
            }

            .card .bodycard {
                flex-direction: row;
                justify-content: space-between;
                padding: 4.8rem 3.2rem;
                gap: 1.7rem;
                height: 23rem;
            }

                .bodycard div p {
                    width: 235px;
                }

                .bodycard div .white-line {
                    width: 10rem;
                    margin: 1.6rem 0 2.0rem 0;
                }

                .bodycard a, .bodycard a:hover {
                    align-self: flex-end;
                    width: 152px;
                    height: 64px;
                }

}

@media screen and (min-width: 1280px) {
    .container-3 .content-1 h3 {
        margin-bottom: 2.4rem;
    }

    .container-3 .content-1 .blue-line {
        height: 4px;
        width: 232px;
    }

    .scroll-x .cards {
        gap: 4.1rem;
    }

        .cards .card, .card {
            width: 50rem;
        }

            .card .img-container {
                height: 35rem;
            }

            .card .bodycard {
                flex-direction: row;
                justify-content: space-between;
                padding: 4.8rem 3.2rem;
                gap: 1.7rem;
                height: 23rem;
            }

                .bodycard div p {
                    width: 235px;
                }

                .bodycard div .white-line {
                    width: 10rem;
                    margin: 1.6rem 0 2.0rem 0;
                }

                .bodycard a, .bodycard a:hover {
                    align-self: flex-end;
                    width: 152px;
                    height: 64px;
                }
}