.container-3 {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 48px 24px 50px 24px;
}

    .container-3 .content-1 {
        position: absolute;
        z-index: 1;
    }

        .container-3 .content-1 h2 {
            font-size: 18px;
            margin: 16px 0 5px 0;
            letter-spacing: 0.05em;
        }

        .container-3 .content-1 .blue-line {
            height: 2px;
            width: 102px;
            margin-left: -24PX;
            background-color: var(--FeriaPpal);
        }

.container-4 {
    background-color: var(--AzulOscuro);
    padding: 32px 24px;
}
    .container-4 p {
        margin-bottom: 32px;
        font-weight: 300;
    }

    .uk-card-body {
        background-color: var(--FeriaPpal);
    }

        .uk-card-title {
            font-family: 'Roboto', sans-serif;;
            font-size: 16px !important;
            color: white !important;
        }
    
        .uk-card-body p {
            font-size: 16px !important;
            color: white !important;
        }