.container-5 {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 56px 24px 56px 24px;
}

        .container-5 .content-1 {
            margin-bottom: 48px;
        }

        .container-5 .content-1 h2 {
            font-size: 18px;
            margin: 0 0 5px 0;
            letter-spacing: 0.05em;
            color: var(--AzulOscuro);
        }

        .container-5 .content-1 .blue-line {
            height: 2px;
            width: 102px;
            margin-left: -24PX;
            background-color: var(--FeriaPpal);
        }

        .container-5 p {
            color: var(--AzulOscuro);
        }

.container-6 {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 56px 24px 24px 24px;
    background-size: cover;
    background-position: 70% center;
    background-image: url(../img/slider_servicios_interiorismo_001_desktop.jpg);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

    .container-6 p {
        margin-top: 14px;
        font-weight: 300;
    }

.container-7 {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 56px 24px 24px 24px;
    background-size: cover;
    background-position: 70% center;
    background-image: url(../img/slider_servicios_serviciosdiseno_002_desktop.jpg);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
    
        .container-7 p {
            text-align: right;
            margin-top: 14px;
            font-weight: 300;
        }