.preguntas {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 56px 0px;
    background-color: white;
}

    .preguntas .content-1 {
        margin-bottom: 32px;
    }

    .preguntas .content-1 h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin: 0 0 16px 24px;
        letter-spacing: 0.05em;
        color: var(--FeriaPpal);
    }

    .preguntas .content-1 .blue-line {
        height: 2px;
        width: 102px;
        margin-left: -24PX;
        background-color: var(--FeriaPpal);
    }

    .preguntas ul li a, .preguntas ul li a:hover {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: var(--FeriaPpal);
        padding: 0 24px;
    }

    ul.uk-list {
        margin-top: 0;
    }

    .uk-list > * > ul, .uk-list > :nth-child(n+2) {
        margin-top: 32px;
    }

    .uk-accordion-title::before {
        background-image: url("../img/plus.svg");
    }

    .uk-open>.uk-accordion-title::before {
        background-image: url("../img/rest.svg");
    }

    .uk-hr, hr {
        border-top: 2px solid var(--FeriaPpal);
        color: var(--FeriaPpal);
        margin: 20px 0 0 24px;
        background-color: var(--FeriaPpal);
    }

    .preguntas ul li .uk-accordion-content {
        background-color: var(--FeriaPpal);
        padding: 24px;
        margin: 0 0 0 24px;
    }

    .preguntas ul li div ul li {
        /* margin-top: 16px; */
        /* background-color: greenyellow;s */
        padding-left: 14px;
        border-left: 2px solid white;
    }

    .preguntas ul li div div h4 {
        margin-bottom: 32px;
    }

    .preguntas ul li div p {
        margin-bottom: 32px;
    }

    .preguntas ul li div ul li, .preguntas ul li div p {
        font-weight: 200;
    }

    .preguntas ul li div ul li span {
        font-weight: 300;
    }

    .preguntas ul {
        justify-self: start;
    }

.preguntas a.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 256px;
    margin-top: 28px;
    text-decoration: none;
    
    
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--FeriaPpal);
    align-self: center;
}