.testimonios {
    background-color: white;
    box-shadow: inset 0px 11px 20px rgba(0, 0, 0, 0.1);
}

    .testimonios .container-5 {
        display: flex;
        flex-direction: column;
        gap: 32px;
        min-height: 100vh;
        height: auto;
        width: 100%;
        padding: var(--PaddingVertical) var(--PaddingHorizontal);
    }

            .testimonios .container-5 .content-1 {
                margin-bottom: 0;
            }

            .testimonios .container-5 .content-1 .blue-line {
                height: 2px;
                width: 80px;
                margin-left: calc( 0rem - var(--PaddingHorizontal));
                background-color: var(--FeriaPpal);
            }

            .testimonios .container-5 .content-1 h3 {
                color: var(--FeriaPpal);
                margin-bottom: 16px;
            }
        
        .container-5 .scroll-x {
            margin: 0px calc( 0rem - var(--PaddingHorizontal));
            padding: var(--PaddingHorizontal) 0;
            width: 100vw;
            
            overflow-x: scroll;
            overflow-y: hidden;
        }

            .container-5 .scroll-x .cards {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: var(--PaddingHorizontal);
                padding: 0 var(--PaddingHorizontal);
                height: max-content;
                width: max-content;
            }

                .container-5 .scroll-x .cards .card {
                    position: relative;
                    height: 57.6rem;
                    width: 25.6rem;
                    background-color: blue;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                }

                    .container-5 .scroll-x .cards .card .img-container {
                        height: 25.6rem;
                    }

                    .p-hidden {
                        opacity: 0;
                        transition: opacity 300ms;
                    }

                    .container-5 .scroll-x .cards .card .bodycard {
                        overflow: hidden;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 2;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 3.2rem 2.4rem;
                        height: auto;
                        min-height: 32rem;
                        max-height: 32rem;
                        background-color: var(--FeriaPpal);
                        transition: max-height 300ms ease-out;
                    }

                        .container-5 .scroll-x .cards .expand .bodycard {
                            max-height: 48rem;
                            height: max-content;
                            /* transition: max-height 300ms ease-in; */
                        }

                        .container-5 .scroll-x .cards .expand .bodycard p {
                            opacity: 1;
                        }

                        

                        .container-5 .scroll-x .cards .card .bodycard .title-control-container {
                            display: flex;
                            width: 100%;
                            align-items: center;
                            justify-content: space-between;
                            /* background-color: red; */
                        }

                        .container-5 .scroll-x .cards .card .bodycard .title-control-container img {
                            transform: rotate(180deg);
                            transform-origin: center center;
                            transition: transform 300ms;
                        }

                        .container-5 .scroll-x .cards .expand .bodycard .title-control-container img {
                            transform: rotate(0deg);
                        }

                        .container-5 .scroll-x .cards .card .bodycard div h5 {
                            margin-bottom: 18px;
                        }

                        .container-5 .scroll-x .cards .card .bodycard  .white-line {
                            width: 5rem;
                            height: 0.2rem;
                            background-color: white;
                            margin: 0.8rem 0 2.4rem 0;
                        }

                        .container-5 .scroll-x .cards .card .bodycard p {
                            color: white;
                        }

                        .container-5 .scroll-x-desktop {
                            display: none;
                        }


@media screen and (min-width: 640px) {
    
    .testimonios .container-5 .content-1 .blue-line {
        height: 3px;
        width: 200px;
    }

    .container-5 .scroll-x .cards .card {
        height: 88.4rem;
        width: 42.0rem;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }

        .container-5 .scroll-x .cards .card .img-container {
            height: 42.0rem;
        }

        .container-5 .scroll-x .cards .card .bodycard {
            padding: 4.8rem 4.0rem;
            min-height: 46.4rem;
            max-height: 46.4rem;
        }

        .container-5 .scroll-x .cards .card .bodycard div {
            width: 100%;
        }

            .container-5 .scroll-x .cards .expand .bodycard {
                max-height: 60rem;
            }

            .container-5 .scroll-x .cards .card .bodycard .title-control-container img {
                width: 44px;
            }

            .container-5 .scroll-x .cards .card .bodycard div h5 {
                margin-bottom: 38px;
            }

            .container-5 .scroll-x .cards .card .bodycard  .white-line {
                width: 6.4rem;
                height: 0.3rem;   
                margin: 2.4rem 0 3.2rem 0;
            }

            .container-5 .scroll-x .cards .card .bodycard p {
                width: 100%;
            }

    
}

@media screen and (min-width: 1280px) {

    .container-5 .scroll-x {
        display: none;
    }

    .container-5 .scroll-x-desktop {
        display: block;
        position: relative;
    }

    .container-5 .scroll-x-desktop .control-slider {
        position: absolute;
        left: 35%;
        bottom: 0;
        width: 144px;
        height: 60px;
        gap: 0;
    }

    .container-5 .scroll-x-desktop ul {
        margin: 32px 0;
        height: min-content;
        min-height: 623px !important;
    }

    .container-5 .scroll-x-desktop ul li {
        margin: 0;
        padding: 0;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white; */
    }

    .container-5 .scroll-x-desktop ul li .ref{
        position: relative;
        height: 623px;
        width: 1126px;
        margin: 0 auto;
        /* margin: 0 var(--PaddingHorizontal); */
    }

    .container-5 .scroll-x-desktop ul li .bodycard {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 64px 200px 0px 64px;

        position: absolute;
        width: 829px;
        height: 543px;
        left: 0;
        top: 0;
        background-color: var(--FeriaPpal);
    }

        .container-5 .scroll-x-desktop ul li .bodycard  .white-line {
            width: 6.4rem;
            height: 0.3rem;   
            margin: 4.0rem 0 3.2rem 0;
            background-color: white;
        }

        .container-5 .scroll-x-desktop ul li .bodycard h5 {
            margin-bottom: 3rem;
        }

        .container-5 .scroll-x-desktop ul li .bodycard .p3 {
            color: white;
            width: 100%;
        }

    .container-5 .scroll-x-desktop ul li .ref .img {
        width: 397.27px;
        height: 533px;
        position: absolute;
        bottom: 0;
        right: 0;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #img-1 {
        background-image: url("../img/Foto_Testimonio_Duratex_001.jpg");
    }

    #img-2 {
        background-image: url("../img/Foto_Testimonio_Bassico_Arquitectos_002.jpg");
    }

    #img-3 {
        background-image: url("../img/Foto_Testimonio_Acabados_Formas_003.jpg");
    }
}