.testimonios {
    background-color: var(--AzulOscuro);
}

    .testimonios .container-5 {
        min-height: 100vh;
        height: auto;
        width: 100%;
        padding: 56px 24px 50px 24px;
    }

            .testimonios .container-5 .content-1{
                margin-bottom: 6px;
            }

            .testimonios .container-5 .content-1 h2 {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 18px;
                font-weight: 700;
                color: white;
                margin-bottom: 16px;
            }
        
        .container-5 .scroll-x {
            margin: 0px -24px;
            padding: 24px 0;
            width: 100vw;
            
            overflow-x: scroll;
            overflow-y: hidden;
            /* background-color: red; */
        }

            .container-5 .scroll-x .cards {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 24px;
                padding: 0 24px;
                height: max-content;
                width: max-content;
            }

                .container-5 .scroll-x .cards .card {
                    height: max-content;
                    width: 75vw;
                    /* background-color: blue; */
                }

                    .container-5 .scroll-x .cards .card .img-container {
                        height: 75vw;
                    }

                    .container-5 .scroll-x .cards .card .bodycard {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 24px;
                        height: 307px;
                        background-color: var(--FeriaPpal);
                    }

                        .container-5 .scroll-x .cards .card .bodycard .card-title {
                            font-family: 'Nunito Sans', sans-serif;
                            font-size: 18px;
                            font-weight: 700;
                            color: white;
                        }

                        .container-5 .scroll-x .cards .card .bodycard .white-line {
                            width: 50px;
                            height: 2px;
                            background-color: white;
                            margin: 8px 0 24px 0;
                        }

                        .container-5 .scroll-x .cards .card .bodycard p {
                            font-family: 'Roboto', sans-serif;
                            font-size: 14px;
                            font-weight: 300;
                            font-style: italic;
                            color: white;
                        }