:root {
  --AzulClaro: #B0BFFF;
  --AzulOscuro: #0A0926;
  --FeriaPpal: #3A37E0;
  
  --Gris: #C5C5C5;
  --GrisClaro: #F2F2F2;
  
  --AmarilloNovedades: #FBB800;
  --RojoError: #FB0F00;
  --AmarilloNovedadesFill: #FFFCF2;
  --VerdeCompras: #65B32E;
  --spacerTitulo: 1.6rem;
  --spacer1: 1.6rem;
  --spacer2: 0.8rem;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar{
width: 0px;
}

html {
  /* overflow: hidden;
  height: 100%;
  width: 100%; */
}

body {
  font-size: 16px;
  /* overflow: auto;
  height: 100%; */
  /* overflow: hidden; */
  min-height: 100%;
  scrollbar-color: #F2F2F2 #323232;
  scrollbar-width: none;
  /* background: #FFF;
}
html {
  font-family: 'Roboto', sans-serif;
  /* font-size: 62.5%; */
  color: white;
}

/* section div {
  padding: 50px 24px 50px 24px;
} */

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
  color: white;
}

.h2-titulos-seccion {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
  color: white;
}

h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
  color: white;
}

p, li {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.navigator {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 30;
  opacity: 0;
  transition: opacity 0.6s;
  background-color: var(--FeriaPpal);
  /* webkit-backdrop-filter: saturate(100%) blur(20px);
  backdrop-filter: saturate(100%) blur(20px); */
}

.navigator img {
  position: absolute;
  left: 24px;
  bottom: 24px;
  width: 15vw;
}

.navigator a {
  text-decoration: none;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  justify-content: left;
  width: 200px;
}

.navigator a:hover {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
}

.uk-nav-parent-icon > .uk-parent > a {
  color: var(--color-azul-claro);
  font-size: 36px;
  font-weight: 600;
  justify-content: left;
  margin-left: 3rem;
}

.uk-nav-parent-icon > .uk-parent > a:hover {
  text-decoration: none;
  color: var(--color-white); 
  font-size: 36px;
  font-weight: 600;
}

.uk-nav-default > li > a:focus {
  color: var(--color-azul-claro);;
}

.uk-nav-parent-icon > .uk-parent > a::after {
  margin: 0;
}

.uk-nav-default .uk-nav-sub a {
  color: var(--color-azul-claro);
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
}

.uk-nav-default .uk-nav-sub a:hover {
  text-decoration: none;
  color: var(--color-white);
  font-size: 24px;
  font-weight: 400;
}

#spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background-color: var(--FeriaPpal);
  opacity: 1;
  transition: opacity 2s;
}
#spinner .lottie {
  width: 150px;
  height: 150px;
}





.nav__wrapper p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  transition: color 0.5s ease-in-out;
}

.nav__wrapper .numeros-p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.5s ease-in-out;
}

.wrapper {
    min-height: 100vh;
    font-family: "Roboto", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }
  
  .section {
    box-sizing: border-box;
    height: 100vh;
    /* font-size: 40px;
    font-weight: 100; */
    /* background-color: #22A7F0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }


.section0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 24px;
  background: #0A0926;
}

.section0 div {
  width: 100%;
  height: 100%;
  border-left: 2px solid white;
}

.section0 p {
  margin: 16px 0;
}

.section1 {
    background: #403ADA;
}
.section2 {
  background: #6A66E2;
}
.section3 {
  background: #9592EA;
}
.section4 {
  background: #BFBDF3;
}
.section5 {
  background: #EAE9FB;
}

.dark .nav, .dark .nav li::after {
  border-color: var(--FeriaPpal);
}
.dark .nav li a , .dark p, .dark .numeros-p {
  color: var(--FeriaPpal);
}

.columnas-data {
  display: flex;
  gap: 22px;
}

.columna-1, .columna-2{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  position: relative
}

  .nav__wrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    /* padding: 30px; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    width: 100%;
    /* background-color: red; */
  }
  .nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin: 0 0 0px 24px;
    padding: 0;
    border-left: 2px solid white;
    transition: border-color 0.5s ease-in-out;
  }
  .nav__counter {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav__body {
    font-weight: 100;
    font-size: 18px;
    font-size: 18px;
    /* width: 100%; */
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out, opacity 0.2s ease-out;
    /* background-color: #9592EA; */
  }
  .nav li {
    list-style-type: none;
    text-decoration: none;
    position: relative;
    transition: all 0.5s ease-out;
    padding: 0 22px;
    margin: 0.5em 0;
    
  }
  .nav li:after {
    content: "";
    display: block;
    border-top: 2px solid white;
    height: 0px;
    width: 14px;
    position: absolute;
    left: 0px;
    top: 50%;
    transition: border-color 0.5s ease-in-out;
  }
  .nav li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* height: 100%; */
    /* background-color: yellowgreen; */
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    pointer-events: none;
    padding: 0 24px;
    height: inherit;
    margin-bottom: 0;
  }
  .nav li.active:after {
    width: 93px;
    height: 0px;
    top: 60px;
  }
  .nav li.active .nav__counter {
    font-weight: bold;
    font-size: 36px;
  }
  .nav li.active .nav__title {
    height: 40px;
    opacity: 1;
    overflow: visible;
  }
  .nav li.active .nav__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 1;
    overflow: visible;
  }
  
  /*# sourceMappingURL=index.css.map */
  